:root {
    --bs-font-one: One-serif;
    --bs-font-ch:  Helvetica;
    --bs-light: #ecdecd;
    --bs-grey: grey;
    --bs-white: #ffffff;
    --bs-orange: orange;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: var(--bs-light);
}

.form--logsign {
    margin: auto;
    margin-top: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input--logsign {
    margin: 5px 0px;
}

.btn--submit {
    width: 25%;
    margin-top: 10px;
    border-radius: 15px;
}

.btn--submit:hover {
    background: var(--bs-grey);
    color: var(--bs-white);
}

.btn--submit:active {
    background: var(--bs-white);
    color: var(--bs-orange);
}

.main--div {
    display: flex;
    flex-direction: column;
}

.btn--bloc {
    margin: auto;
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}

.btn--logsign {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 50% 50%;
}

.btn--logsign:hover {
    background: var(--bs-grey);
    color: var(--bs-white);
    border-radius: 50% 50%;
}

.btn--logsign:active {
    background: var(--bs-white);
    color: orange;
}

#btn--login {
    margin-right: 10px;
}

.rounded--style {
    background: var(--bs-light);
}

.rounded--style:hover {
    background: orange;
}