:root {
    --bs-font-one: One-serif;
    --bs-font-ch:  Helvetica;
    --bs-light: #ecdecd;
    --bs-grey: grey;
    --bs-white: #ffffff;
    --bs-orange: orange;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: var(--bs-light);
}

.form--login {
    margin: auto;
    margin-top: 6%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.input--logsign {
    margin: 5px 0px;
}

.btn--submit {
    width: 25%;
    margin-top: 10px;
    border-radius: 5px;
}

.btn--submit:hover {
    background: var(--bs-grey);
    color: var(--bs-white);
}

.btn--submit:active {
    background: var(--bs-white);
    color: var(--bs-orange);
}

.main--div {
    display: flex;
    flex-direction: column;
}

.btn--bloc {
    margin: auto;
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}

.btn--logsign {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 50% 50%;
}

.btn--logsign:hover {
    background: var(--bs-grey);
    color: var(--bs-white);
    border-radius: 50% 50%;
}

.btn--logsign:active {
    background: var(--bs-white);
    color: orange;
}

#btn--login {
    margin-right: 10px;
}

.rounded--style {
    background: var(--bs-light);
}

.rounded--style:hover {
    background: orange;
}


.overflow--div {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 300px;
    overflow: hidden;
    z-index: 5;
}

.passwd--ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: red;
    border-radius: 15px 0px 0px 15px;
    color: white;

    animation-name: ticket;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform: translateX(calc(0vw + 300px));
    transition-timing-function: ease;
}

.passwd--ticket h4 {
    margin: auto;
    margin: 10px 10px;
    font-family: 'Consolas';
    color: white;
    text-shadow: 1px 1px 2px white;
}

@keyframes ticket {
    0% {
        transform: translateX(calc(0vw + 300px));
    }
    30% {
        transform: translateX(calc(0vw + 0px));
    }
    70% {
        transform: translateX(calc(0vw + 0px));
    }
    100% {
        transform: translateX(calc(0vw + 300px));
    }
}
