@use 'custom';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&display=swap');


.div--about {
  height: 80vh;
  overflow: hidden;
}

.koala--bg {
  position: fixed;
  top: 77px;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  animation-name: koala;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes koala {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.flexible--about {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

.title--about {
  margin: auto;
  font-size: 3rem;
}

.divanim--about {
  margin-top: 5px;
}

.anim--about {
  padding: 10px 20px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;

  background: dodgerblue;
  border-radius: 15px;
  border: 3px solid steelblue;
  box-shadow: 2px 2px 2px grey;
  color: white;
}

.anim--about:nth-child(1n) {
  animation-name: slide-top;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: translateY(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(2n) {
  animation-name: slide-right;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(3n) {
  animation-name: slide-left;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(4n) {
  animation-name: slide-bottom;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: translateY(0px);
  transition-timing-function: ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(800px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(1200px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-1200px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-800px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

