@use 'custom';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&display=swap');


.div--about {
  height: 80vh;
  overflow: hidden;
}

.koala--bg {
  position: fixed;
  top: 77px;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  animation-name: koala;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes koala {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.flexible--about {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

.clouds--bg {
  position: fixed;
  top: 130px;
  z-index: -1;
}

.title--about {
  margin: auto;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow:
  4px 3px 1px #4d77b1, 
  5px 4px 3px white,
  7px 6px 5px navy;
}

.divanim--about {
  margin-top: 5px;
}

.anim--about {
  padding: 10px 20px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: 'Consolas';
  font-size: 1.4rem;

  background: #4d77b1;
  border-radius: 15px;
  border: 1px solid lightgrey;
  color: white;
  text-shadow: 2px 2px 2px navy;
}

.anim--about:nth-child(1n) {
  animation-name: slide-top;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: translateY(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(2n) {
  animation-name: slide-right;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(3n) {
  animation-name: slide-left;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}

.anim--about:nth-child(4n) {
  animation-name: slide-bottom;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: translateY(0px);
  transition-timing-function: ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(800px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(1200px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-1200px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-800px);
    transition-timing-function: ease-out;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    transition-timing-function: ease-in;
    opacity: 1;
  }
}

